.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

@media (min-width: 992px) {
    #col_content {
        padding-left: 50px;
    }

    .about-padding {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 991px) {
    #project_title {
        padding-top: 50px;
    }
}